<img src="../../../assets/img/download.jpg" style="width: 100%;height: 100px;"/>
<div class="spinner-container" *ngIf="getDataOnServer == true ; else elseBlockContainer">
    <div>
        <div class="up-spinner">loading will take a few seconds</div>
        <div class="spinner">
            <span class="spinner-ball"></span>
        </div>
    </div>
</div>

<ng-template #elseBlockContainer>
    <div class="register">
        <div class="row" style="width: 100%;">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>We hope you enjoy our championship</p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h2 class="register-heading">Register team leader in squad pubg championShip</h2>
                        
                        <form class="row register-form" #personForm = "ngForm">
                        
                            <div style="width: 100%;text-align: center;font-size: large;margin-bottom: 15px;">{{upVideo}}</div>
                            <div style="width: 100%;text-align: center;margin-bottom: 15px;" *ngIf="upVideo == 'sorry the register finished'">note : the register finished may occure because the overloads of the server if you sure that there is register now and register not finished please visite our website after some minutes when overloads of server go down</div>
                            <div 
                                class="container" 
                                style="margin: auto ;" 
                                [ngClass]="{'stickyVideo': videoFinish == false, 'relativeVideo': videoFinish == true}"
                                fxLayout
                                fxLayout.xs="column"
                                fxLayoutAlign="center"
                                fxLayoutGap="10px"
                                fxLayoutGap.xs="0">
                                <div fxFlex="100%" id="squadplayer" style="width: 100%;background-color: black;">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <!--<div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label [ngClass]="{'lable-text': userNameText == 'Please wait after completing your name'}">{{userNameText}}</mat-label>
                                        <input matInput
                                            type="text"
                                            name="userName"
                                            required
                                            ngModel 
                                            pattern="^[a-zA-Z]+(\s[a-zA-Z]+){2}?$"
                                            #userName = "ngModel"
                                            placeholder="Ex. test test test"
                                            [disabled]="!register"
                                            maxlength="50"
                                            (keyup)="onKeyUpUserfullName(userName)">
                                            <mat-error *ngIf="userName.invalid && userName.touched && userName.value.length != 0 && userNameType==true && errorServerUserNameType == false">
                                                Please enter a valid user name
                                            </mat-error>
                                            <mat-error *ngIf="userName.invalid && userName.touched && userName.value.length == 0">
                                                user name is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="userName.invalid && userName.touched && userNameType==false && userName.value.length != 0 && errorServerUserNameType == false">
                                                The name already exists, please choose another name
                                            </mat-error>
                                            <mat-error *ngIf="userName.invalid && userName.touched && userName.value.length != 0 && errorServerUserNameType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>-->
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                
                                        <mat-label [ngClass]="{'lable-text': gmailText == 'Please wait after completing your gmail account'}">{{gmailText}}</mat-label>
                                        <input matInput 
                                            required
                                            email
                                            type="email" 
                                            name="Email"
                                            ngModel 
                                            pattern="^[a-zA-Z0-9.]+@gmail.com$"
                                            #myEmail = "ngModel"
                                            placeholder="Ex. test@gmail.com"
                                            [disabled]="!register"
                                            maxlength="50"
                                            (keyup)="onKeyUpGmailAccount(myEmail)">
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length != 0 && gmailAccountType == true && errorServerGmailAccountType == false">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length == 0">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && gmailAccountType==false && myEmail.value.length != 0 && errorServerGmailAccountType == false">
                                                The email address already exists, please choose another email
                                            </mat-error>
                                            <mat-error *ngIf="myEmail.invalid && myEmail.touched && myEmail.value.length != 0 && errorServerGmailAccountType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>                                                    
                                </div>
                            
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label [ngClass]="{'lable-text': pubgIdText == 'Please wait after completing your pubg id'}">{{pubgIdText}}</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="Idpubg"
                                            required
                                            ngModel 
                                            #myId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register"
                                            (keyup)="onKeyUpIdPubg(myId)">
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length != 0 && idPubgType == true && errorServerIdPubgType == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched &&  idPubgType == false && myId.value.length != 0 && errorServerIdPubgType == false">
                                                The Id pubg already exists, please choose another Id
                                            </mat-error>
                                            <mat-error *ngIf="myId.invalid && myId.touched && myId.value.length != 0 && errorServerIdPubgType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label [ngClass]="{'lable-text': firstMemberPubgIdText == 'Please wait after completing your friend\'s pubg id'}">{{firstMemberPubgIdText}}</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="firstMemberIdpubg"
                                            required
                                            ngModel
                                            #firstMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register"
                                            (keyup)="onKeyUpfirstMemberIdPubg(firstMemberId)">
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length != 0 && firstMemberIdPubgType == false && firstMemberExistIdPubgType == true && errorServerFirstMemberIdPubgType == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched &&  firstMemberIdPubgType == true && firstMemberId.value.length != 0 && firstMemberExistIdPubgType == true && errorServerFirstMemberIdPubgType == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched &&  firstMemberIdPubgType == false && firstMemberId.value.length != 0 && firstMemberExistIdPubgType == false && errorServerFirstMemberIdPubgType == false">
                                                The Id pubg already exists, please choose another Id
                                            </mat-error>
                                            <mat-error *ngIf="firstMemberId.invalid && firstMemberId.touched && firstMemberId.value.length != 0 && errorServerFirstMemberIdPubgType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label [ngClass]="{'lable-text': secondMemberPubgIdText == 'Please wait after completing your friend\'s pubg id'}">{{secondMemberPubgIdText}}</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="secondMemberIdpubg"
                                            required
                                            ngModel
                                            #secondMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register"
                                            (keyup)="onKeyUpSecondMemberIdPubg(secondMemberId)">
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length != 0 && secondMemberIdPubgType == false && secondMemberExistIdPubgType == true && errorServerSecondMemberIdPubgType == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched &&  secondMemberIdPubgType == true && secondMemberId.value.length != 0 && secondMemberExistIdPubgType == true && errorServerSecondMemberIdPubgType == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched &&  secondMemberIdPubgType == false && secondMemberId.value.length != 0 && secondMemberExistIdPubgType == false && errorServerSecondMemberIdPubgType == false">
                                                The Id pubg already exists, please choose another Id
                                            </mat-error>
                                            <mat-error *ngIf="secondMemberId.invalid && secondMemberId.touched && secondMemberId.value.length != 0 && errorServerSecondMemberIdPubgType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="example-full-width">
                                        <mat-label [ngClass]="{'lable-text': thirdMemberPubgIdText == 'Please wait after completing your friend\'s pubg id'}">{{thirdMemberPubgIdText}}</mat-label>
                                        <input matInput
                                            pattern="^[0-9]+$"
                                            minlength="7"
                                            maxlength="15"
                                            type="text"
                                            name="thirdMemberIdpubg"
                                            required
                                            ngModel
                                            #thirdMemberId = "ngModel"
                                            placeholder="Ex. Nine or ten numbers"
                                            [disabled]="!register"
                                            (keyup)="onKeyUpThirdMemberIdPubg(thirdMemberId)">
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length != 0 && thirdMemberIdPubgType == false && thirdMemberExistIdPubgType == true && errorServerThirdMemberIdPubgType == false">
                                                Please enter a valid Id pubg
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length == 0">
                                                Id pubg is <strong>required</strong>
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched &&  thirdMemberIdPubgType == true && thirdMemberId.value.length != 0 && thirdMemberExistIdPubgType == true && errorServerThirdMemberIdPubgType == false">
                                                This id must not be the same with team leader id or team member id
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched &&  thirdMemberIdPubgType == false && thirdMemberId.value.length != 0 && thirdMemberExistIdPubgType == false && errorServerThirdMemberIdPubgType == false">
                                                The Id pubg already exists, please choose another Id
                                            </mat-error>
                                            <mat-error *ngIf="thirdMemberId.invalid && thirdMemberId.touched && thirdMemberId.value.length != 0 && errorServerThirdMemberIdPubgType == true">
                                                error because overloads of server. register after some minutes when overloads of server go down
                                            </mat-error>
                                    </mat-form-field>
                                </div>
                                <h3 *ngIf="upVideo != 'sorry the register finished'" [ngStyle]="{'color': note == 'note : if you register as team leader you can not register as member in another team' ? 'red' : 'black' }">{{note}}</h3>
                                <button mat-raised-button color="primary" class="btnRegister" (click) = "addPerson(personForm)" [disabled]="personForm.invalid || !videoFinish || !register || !gmailAccountDisable || !idPubgDisable || !firstMemberIdPubgDisable || !secondMemberIdPubgDisable || !thirdMemberIdPubgDisable">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>
<img src="../../../assets/img/download.jpg" style="width: 100%;height: 100px;"/>
