<h2>solo pubg page</h2>
<a mat-stroked-button [routerLink]="['/solo/admincontrol']">solo pubg control</a>
<hr>
<h2>duo pubg page</h2>
<a mat-stroked-button [routerLink]="['/duo/admincontrol']">duo pubg control</a>
<hr>
<h2>squad pubg page</h2>
<a mat-stroked-button [routerLink]="['/squad/admincontrol']">squad pubg control</a>
<hr>
<h2>paid ads page</h2>
<a mat-stroked-button [routerLink]="['/paidads/admincontrol']">paid ads control</a>

<!-- test -->
<button (click)="addSolo()">add 10000 player in solo championShip</button><br>
<button (click)="addDuo()">add 10000 player in duo championShip</button><br>
<button (click)="addSquad()">add 10000 player in squad championShip</button><br>
<button (click)="addhackerswinners()">add 10000 hackers and winners</button><br>