<!--<mat-toolbar >
    <span>contact us</span>
    <span><a mat-stroked-button href="https://www.facebook.com/Championship-BattleGround-105591457923777" target="_blank">facebook</a> </span>
    <span><mat-icon > call </mat-icon> +20 01556245413</span>
</mat-toolbar>
-->
    <div class="footer" style="background-color: rgb(47, 80, 180);">
      <ul class="social-network social-circle">
        <li><a class="icoLinkedin" href="https://www.linkedin.com/in/priyank1205" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="icoTwitter" href="https://twitter.com/priyank1205" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a class="icoFacebook" href="https://www.facebook.com/priyank.agarwal1205" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a class="icoInstagram" href="https://www.instagram.com/priyank.agarwal1205/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
 