
<!--<mat-card class="example-card">
    <form  #confirmMail = "ngForm" *ngIf="formAdded != null && (finish == 'your email confirm not valid please confirm again' || finish == null)">
        
        
      <div>
          <mat-label style="font-family:sans-serif ;font-size: large;font-weight: bolder;color: rosybrown;">click on ad to confirm email :  </mat-label>
          <div style="text-align: center">
            <a  (click)="click1()"> <img src="../../../assets/img/download.jpg" style="width: 100%;height:200px;"></a>
          </div>
      </div>

      <div>
          <mat-label style="font-family:sans-serif ;font-size: large;font-weight: bolder;color: rosybrown;">click on ad to confirm email :  </mat-label>
          <div style="text-align: center">
            <a  (click)="click2()"> <img src="../../../assets/img/download.jpg" style="width: 100%;height:200px;"></a>
          </div>
      </div>
      
      <mat-form-field class="example-full-width" appearance="outline">
            <mat-label >Confirm Email</mat-label>
            <input 
              matInput
              pattern="[0-9]{5}"
              type="text"
              name="confirmMail"
              required
              ngModel 
              #confirm = "ngModel" 
              placeholder="Ex. 00000">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

        <mat-card-actions >
            <button mat-raised-button color="primary" (click) = "Confirm(confirmMail)" [disabled]="confirmMail.invalid || !clickAd1 || !clickAd2">Confirm</button>
        </mat-card-actions>
    </form>

      <div style="text-align: center ;font-size: large;" *ngIf="formAdded == null">please register first</div>

      <div style="text-align: center;font-size: large;" *ngIf="finish != null">{{finish}}</div>
      <div style="text-align: center; margin-top: 10px;"   *ngIf="finish == 'your confirm delete please register again' || formAdded == null">
        <a mat-raised-button color="warn" href="/register">register</a>
      </div>
  </mat-card>
-->

<img src="../../../assets/img/download.jpg" style="width: 100%;height: 100px;"/>
<div class="register">
    <div class="row" style="width: 100%;">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>We hope you enjoy our championship</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h2 #target class="register-heading">Confirm Registration</h2>
                    
                    <form class="row register-form" #confirmMail = "ngForm">

                      <div class="finish" [ngStyle]="{'color': finish == 'your Registration in championShip is done' ? 'green' : ((finish =='click on confirm buttom to complete register' || finish == 'Please wait') ? 'black' : 'red') }">{{finish}}</div>
                      <div style="width: 100%;text-align: center;margin-bottom: 15px;" *ngIf="confirmType">note: you can get the confirmation Code from the inbox in your gmail account</div>
                      <div style="width: 100%;text-align: center;margin-bottom: 15px;" *ngIf="finish == 'your registred is done'">note: Follow us on the social media platforms at the bottom of the website to learn when the splite players will open so that each player knows the date of his competition.</div>

                        <div class="col-md-12">
                            <div class="form-group">
                              <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label >Confirmation Code</mat-label>
                                  <input 
                                    matInput
                                    pattern="[0-9]{5}"
                                    type="text"
                                    name="confirmMail"
                                    required
                                    ngModel 
                                    #confirm = "ngModel" 
                                    [disabled]="!confirmType"
                                    placeholder="Ex. 00000">
                                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    <mat-error *ngIf="confirm.invalid && confirm.touched && confirm.value.length != 0">
                                      Please enter a valid confirm email
                                    </mat-error>
                                    <mat-error *ngIf="confirm.invalid && confirm.touched && confirm.value.length == 0">
                                        confirm email is <strong>required</strong>
                                    </mat-error>
                            </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" class="btnRegister" (click) = "Confirm(confirmMail , target)" [disabled]="confirmMail.invalid || !confirmType">Confirm</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

</div>
<img src="../../../assets/img/download.jpg" style="width: 100%;height: 100px;"/>
